* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body {
    
}
.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    padding: 50px;
}
.header_navigation {
    margin-top: 50px;
    width: 1200px;
    display: flex;    
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    width: 179px;
}
.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-size: 45px;
    color:#ffffff;    
}