* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

@font-face {
    font-family: 'OpenSans';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    
}
.header {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;    
    background-color: #000000;    
    position:relative;
    padding-top: 28px;
    padding-bottom: 130px;
    
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;

    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;    
}

.cover_opacity {
   position: relative;
   z-index: 2;
}

.header_navigation {
    margin-top: 50px;
    width: 1170px;
    display: flex;    
    margin: 0 auto;
    justify-content: space-between;  
}

.header_logo {
    width: 179px;
    margin-left: 3px;   
}

.header_menu {
    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 13px;
    font-weight: regular;
    color:#ffffff;   
}

.header_menu_item {
    list-style-type: none; 
    justify-content: space-between;      
    margin-left: 35px;

}

.link {
    color:#ffffff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.intro {
    display: block;
    margin-top: 102px;
    text-align: center;

    text-transform: uppercase;
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.6;
    color:#ffffff;    
}

.main_container{
    width: 1170px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    
    /* outline: green solid 1px; */
}

.main_content_post {
    width: 778px;    
    
    display: flex;
    align-items: flex-start;

    /* outline: red solid 1px; */
}

.main_content_post:nth-child(n+2){
    margin-top: 60px;
}

.main_content_img_container {
    min-width:380px;
    width: 380px;
    min-height: 293px;
    margin-right : 30px;
    background-image: url(https://www.stoneunion.ru/pictures/product/big/9816_big.jpeg) ;
    background-size: contain;
    background-repeat: no-repeat;
}

.main_content_img {
    display: block;
    
    width: 380px;
    
}

.main_content_tags {
    display: flex;
    margin-bottom: 3px;
}

.main_content_tag {
    list-style-type: none; 
    justify-content: space-between;
    margin-right: 20px; 
    margin-top: -5px;    
}

.main_content_link {
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.main_content_link:hover {
    text-decoration: underline;
}

.main_content_header {
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 20px;
    line-height: 1.2;
    color: #0f0d0e;
    text-transform: uppercase;
    font-weight: bold;
}

.main_content_date {
    display: inline-block;
    margin-top: 30px;

    font-family: OpenSans, Arial, sans-serif ;
    font-size: 12px;
    color: #888888;
    font-weight: regular;
    margin-bottom: 45px;
}

.main_content_autor {
    display: inline-block;
    margin-left: 10px;

    font-family: OpenSans, Arial, sans-serif ;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 45px;
}

.main_content_text{
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 15px;
    line-height: 1.45;
    color: #0f0d0e;
    font-weight: regular;
}

.main_content_text p:nth-child(n+2){
    margin-top: 15px;
}

/* .main_content_text:last-child{
    margin-bottom: 0px;
} */

.aside_content {
    width: 270px;
    /* outline: red solid 1px; */

    display: flex;
}


.new_posts_header {
    display: block;
    text-transform: uppercase;
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    color:#0f0d0e; 
    margin-top: -5px;
    text-align: center;
}

.new_posts_header:after {
    content: "";
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
    
}

.new_post {
    display: flex;
    margin-top: 30px;
}

.new_posts > .new_post:nth-child(n+3){
    margin-top:15px;
}


.new_post_img {
    width: 70px;
}

.new_post_img_container {
    margin-right: 20px;
    min-width:70px;
    width: 70px;
    min-height: 70px;
    background-image: url(https://www.stoneunion.ru/pictures/product/big/9816_big.jpeg) ;
    background-size: contain;
    background-repeat: no-repeat;
}

.new_post_date {
    display: block;
    margin-top: -5px;

    font-family: OpenSans, Arial, sans-serif ;
    font-size: 12px;
    font-weight: regular;
    color:#000000; 
    opacity: 0.54;
}

.new_post_header{
    display: block;
    margin-top: 5px;
    font-family: OpenSans, Arial, sans-serif ;
    font-size: 12px;
    font-weight: bold;
    color:#000000; 
    text-transform: uppercase;
    text-decoration: none;
}

.new_post_header:hover {
    color: #b59f5b;
}
